@import "tailwindcss";

:root {
  --maroon: #ba2c47;
  --maroon-dark: #9c2339;
  --graphite: #575756;
}

@theme inline {
  --color-maroon: var(--maroon);
  --color-maroon-dark: var(--maroon-dark);
  --color-graphite: var(--graphite);
  --font-sans: var(--font-source-sans);
  --font-heading: var(--font-oswald);
  --font-serif: var(--font-eb-garamond);
  --font-display: var(--font-bebas-neue);
}

body {
  color: var(--graphite);
  font-family: var(--font-sans);
}
